<h3>Log In</h3>

<%= form_tag sessions_path do %>

<div class="form">

    <div class="row">
      <div class="small-4">

  <%= label_tag :email %>
  <%= text_field_tag :email, params[:email] %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>


<div class="actions"><%= submit_tag "Log in" %></div>

<% end %>
