<!-- Manage restaurants form -->

<%= form_for [@user, @business] do |f| %>
  <div class="form">

    <div class="row">
      <div class="small-4">


        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :location %>
        <%= f.text_field :location %>

        <%= f.label :price %>
        <%= f.number_field :price %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.label :capacity %>
        <%= f.number_field :capacity %>

        <%= f.submit %>


    </div>
  </div>

</div>

<% end %>
