<!-- Manage restaurants form -->

<%= form_for [@user, @business] do |f| %>
  <div class="form">

    <div class="row">
      <div class="small-4">

      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :location %>
        <%= f.text_field :location %>
      </p>
      <p>
        <%= f.label :price %>
        <%= f.number_field :price %>
      </p>
      <p>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </p>
      <p>
        <%= f.label :capacity %>
        <%= f.number_field :capacity %>
      </p>
      <p>
        <%= f.submit %>
      </p>

    </div>
  </div>

</div>

<% end %>
