<h1>Manage My Restaurants</h1>

<%= link_to "New Restaurant", new_manage_restaurant_path %>

<% @businesses.each do |business| %>

  <h2><%= business.name %></h2>
  <ul>
    <li><%= business.location %></li>
    <li><%= business.price %></li>
    <li><%= business.description %></li>
    <li><%= link_to "Update Restaurant", manage_restaurant_path(business) %></li>
  </ul>

<% end %>
