<h1>Manage My Restaurants</h1>

<% @businesses.each do |business| %>

  <h2><%= business.name %></h2>
  <ul>
    <li><strong>Location:</strong> <%= business.location %></li>
    <li><strong>Price (1-5):</strong> <%= business.price %></li>
    <li><strong>Description:</strong> <%= business.description %></li>
    <li><strong>Diner Capacity:</strong> <%= business.capacity %></li>
    <li><%= link_to "Update Restaurant", manage_restaurant_path(business) %></li>
  </ul>

<% end %>
