<p>To create a new reservation, <%= link_to "choose a restaurant", root_path %> from the home page.</p>

<h1>Your Reservations</h1>

<ul>
  <% @user.reservations.each do |reservation| %>

    <li>

        <p> Restaurant:</p>
        <%= reservation.restaurant.name %>


        <p>Location:</p>
        <%= reservation.restaurant.location %>

        <p>Party Size:</p>
        <%= reservation.party_size %>

        <p>Time and Date:</p>
        <%= reservation.date_time %>

    </li>
    <%= link_to "Edit", edit_restaurant_reservation_path(reservation.restaurant, reservation), class: 'button small radius' %>
    <%= link_to "Delete", restaurant_reservation_path(reservation.restaurant, reservation), class: 'button small radius', method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
  <% end %>
</ul>
