<p>To create a new reservation, <%= link_to "choose a restaurant", root_path %> from the home page.</p>

<h1>Your Reservations</h1>

<ul>
  <% @user.reservations.each do |reservation| %>

    <li>
      <p>
        <strong>Restaurant:</strong>
        <%= reservation.restaurant.name %>
        <!-- .name is not a recognized method -->
      </p>
      <p>
        <strong>Location:</strong>
        <%= reservation.restaurant.location %>
      </p>
      <p>
        <strong>Party Size:</strong>
        <%= reservation.party_size %>
      </p>
      <p>
        <strong>Time and Date:</strong>
        <%= reservation.date_time %>
      </p>
    </li>
    <%= link_to "Edit", edit_restaurant_reservation_path(reservation.restaurant, reservation), class: 'button small radius' %>
    <%= link_to "Delete", restaurant_reservation_path(reservation.restaurant, reservation), class: 'button small radius', method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
  <% end %>
</ul>
