
  <h4>New Reservation</h4>

  <%= form_for [@restaurant, @reservation] do |f| %>

  <div class="form">

      <div class="row">
        <div class="small-4">


        <%= f.label :date_time %>
        <%= f.time_field :date_time %>

        <%= f.label :party_size %>
        <%= f.number_field :party_size %>

        <%= f.submit %>
    

    </div>
  </div>

</div>
<% end %>
