
  <h4>New Reservation</h4>

  <%= form_for [@user, @reservation] do |f| %>
    <div class="field">
      <p>
        <%= f.label :date_time %><br>
        <%= f.time_field :date_time %>
      </p>
      <p>
        <%= f.label :party_size %>
        <%= f.number_field :party_size %>
      </p>
      <p>
        <%= f.submit %>
        <%= f.hidden_field :restaurant, value: @restaurant %>
      </p>

<% end %>
