<%= form_for [@reservation.restaurant, @reservation] do |f| %>

<div>
  <%= f.label :date_time %>
  <%= f.time_field :date_time %>
</div>

<div>
  <%= f.label :party_size %>
  <%= f.number_field :party_size %>
</div>

<div>
  <%= f.submit %>
</div>

<%= link_to 'Back', user_path(current_user) %>

<% end %>
