<%= form_for @reservation do |f| %>

<div>
  <%= f.label :date_time %>
  <%= f.datetime_field :date_time %>
</div>

<div>
  <%= f.label :party_size %>
  <%= f.number_field :party_size %>
</div>

<div>
  <%= f.submit %>
</div>

<%= link_to "Back", @reservation %>

<% end %>
