<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>GortEats</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- edit for foundation -->
    <div clas="row">
      <div class="small-12 column">

          <%= link_to "GORTEATS", root_path%>

          <ul>
            <li> <%= link_to "Manage Restaurants", manage_restaurants_path %> </li>
            <li> <%= link_to "My Reservations", current_user %> </li>
          </ul>

              <!-- rename class for foundation -->
          <div class="flash">
            <% if flash[:notice] %>
              <p id="notice"><%= flash[:notice] %></p>
            <% end %>
            <% if flash[:alert] %>
              <p id="alert"><%= flash[:alert] %></p>
            <% end %>
          </div>

              <!-- rename class for foundation -->
          <div class="login_signup">
            <% if current_user %>
              Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
            <% else %>
              <%= link_to "Log in", new_session_path, class: 'button small radius' %> or <%= link_to "Sign up", new_user_path, class: 'button small radius' %>
            <% end %>
          </div>
      </div>
    </div>

    <div clas="row">
      <div class="small-12 column">

    <%= yield %>

      </div>
    </div>

  </body>
</html>
